body{
  background-color: #fff5cc;
}

div{
  width:50%;
}

table{
  border-collapse: collapse;
}

td{
  padding-right: 25px;
  padding-bottom: 5px;
}

#first{
  border-top: 2px solid black;
}

#mid{
  border-bottom: 2px solid black;
}

#last{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
